<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"/>

        <link href="/static/stylesheet.css" rel="stylesheet"/>

        <title>CS50 Section 7</title>
    </head>
    <body>

        <nav class="navbar fixed-top navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Home</a>
            <a class="navbar-brand" href="/database">Database View</a>
            <a class="navbar-brand" href="/times_table">Times Table</a>
            <a class="navbar-brand" href="/multiplier">Multiplier</a>

        </nav>

        <div class="container-fluid">
            <div class="row">
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>
